<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title th:utext="#{label.pages.home.title}">Title</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="/proccess-login" method="POST" th:object="${user}" enctype="utf8">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <div th:if="${message != null}" class="alert alert-info" th:utext="${message}"></div>
  <div th:if="${error != null}" class="alert alert-info" th:utext="${error}"></div>
    <label class="sr-only" th:utext="#{label.form.loginEmail}">Username</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    <label class="sr-only" th:utext="#{label.form.loginPass}">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <h4 class="text-center"><a th:href="@{/users/registration}">Create an account</a></h4>
  </div>
</form>
</body>
</html>