<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<html lang="en">
<head th:insert="header">
</head>

<body>

<div th:insert="navibar::navibar"></div>
<div class="container">
  <div class="row">
    <div>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <a sec:authorize="hasRole('ROLE_ADMIN')" href="/users" type="button" class="btn btn-success">Back to users</a>
          <a sec:authorize="isAnonymous()" href="/login" type="button" class="btn btn-info">Back to login</a>
        </div>
      </div>
    </div>
  </div><br>
  <form action="/users/registration" th:object="${userDto}" method="post" modelAttribute="userDto">
    <div class="form-group">
      <div class="row">
        <label >User ID</label>
        <input th:field="*{id}" type="UUID" readonly="true" class="form-control" id="id" placeholder="User ID"/>
        <br>
        <label >Username</label>
        <input th:field="*{username}" type="text" class="form-control" id="username" placeholder="Username"/>
        <p th:each="error: ${#fields.errors('username')}"
           th:text="${error}" class="error">Validation error</p>
        <p th:text="${message}" class="error">Validation error</p>
        <br>
        <label>Password</label>
        <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Password"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}" class="error">Validation error</p>
        <br>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
          <select th:field="*{userRole}" class="form-control" >
            <th:if test="${empty user.userRole}"><option value="" label="-- select role --"/></th:if>
            <option th:value="ROLE_USER" th:text="User"></option>
            <option th:value="ROLE_ADMIN" th:text="Admin"></option>
          </select><br>
          <errors path="role" class="error"/><br><br>
        </div>
      </div>
      <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <button type="submit" value="Submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
</html>
